animation/node_modules/
server.out.log
server.err.log
.env
data/
videos/vecteezy_african-american-family-spending-time-together-in-the-garden_2018031.mp4
videos/vecteezy_a-joyful-family-poses-for-a-picture-during-a-holiday_50348103.mp4
videos/vecteezy_father-and-son-are-playing-happily_2018670.mp4
